body {
  margin: 50px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.tableWrapper {
  box-shadow: 0 3px 6px rgb(0,0,0,0.3);
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.tableWrapper td {
  padding: 10px;
  border: 1px solid #b9b9b9;
  border-width: 0 0 1px 0;
}

.tableWrapper tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.tableWrapper tbody tr:last-child td {
  border-bottom-width: 0;
}

.tableWrapper thead th {
  background-color: #333334;
  color: #ffffff;
  padding: 10px;
}
